@using System.Data
@model System.Data.DataTable

@{
    ViewBag.Title = "學生資料";
}

<h2>學生資料</h2>

@if (Session["id"] != null)
{
<p>
    @* ActionLink=>產生a標籤 *@
    @* class是c#保留字，偏偏html又叫class，所以要加@符號 *@
    @Html.ActionLink("新增資料", "Create", null, new { @class = "btn btn-primary" })
</p>
}

@if (Model.Rows.Count == 0)
{
    <h2>無任何資料</h2>
}
else
{
<div class="row">
    @foreach (DataRow row in Model.Rows)
    {
    <div class="col-md-3">
        <div class="thumbnail" @*圓角矩型框*@>
            <h2>@row["fName"]</h2>
            <p class="text-right">@row["fStuId"]</p>
            <h1 class="text-center">@row["fScore"]</h1>
            <p class="alert-info">@row["fEmail"]</p>
            @if (Session["id"] != null)
            {
                <hr />
                <p class="text-right">
                    @Html.ActionLink("刪除", "Delete", new { fStuId = row["fStuId"] }, new { onclick = "return confirm('您確定要刪除嗎?')", @class = "btn btn-danger btn-block" });
                    @Html.ActionLink("修改", "Edit", new { fStuId = row["fStuId"] }, new { @class = "btn btn-danger btn-block" });
                </p>
            }
        </div>
    </div>
    }
</div>
}